.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  text-overflow: ellipsis;

  &__title {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    line-height: 8px;
    margin-bottom: 8px;
  }

  &__time {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    width: 100%;
    height: auto !important;
    font-weight: bold;
    background-color: red;
    z-index: 2;
  }
}

.delete-event-btn {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 80px;
  bottom: -28px;
  display: none;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  &__text {
    display: inline-block;
    margin-left: 12px;
  }
}

.event:hover .delete-event-btn {
  display: block;
}
